LOG_LEVEL="debug"
LOG_PRETTY="true"

BACKEND_HOST="127.0.0.1"
BACKEND_PORT="9001"

GRPC_METADATA_HOST="127.0.0.1"
GRPC_METADATA_PORT="50051"

GEOGRAPH_UK_API_KEY=""
WIKIMAPIA_API_KEY=""
MAPILLARY_CLIENT_TOKEN=""
OUTGOING_USER_AGENT="project-maps (localhost, github.com/DecentM/project-maps) (+YOUR_EMAIL)"

OVERPASS_API_BASE_URL="http://overpass-api.de/api"

WEB_BACKEND_URL="http://localhost:9000/api"
WEB_MAP_STYLE="https://tiles.openfreemap.org/styles/liberty"

SEARCH_NOMINATIM_ENDPOINT="https://nominatim.openstreetmap.org"

GRPC_SEARCH_HOST="127.0.0.1"
GRPC_SEARCH_PORT="50053"
