services:
  devcontainer:
    build:
      cache_from:
        - ghcr.io/decentm/project-maps-devcontainer:latest
      context: ..
      dockerfile: .devcontainer/Dockerfile
    network_mode: host
    volumes:
      - ..:/workspace
      - ${HOME}/.ssh:/home/user/.ssh:ro
      - ${HOME}/.gitconfig:/home/user/.gitconfig:ro
      - ${HOME}/.npmrc:/home/user/.npmrc:ro
      - ${HOME}/.gnupg:/home/user/.gnupg
      - ${HOME}/.bashrc:/home/user/.bashrc_user:ro
    env_file:
      - ../.env
    command: sleep infinity
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 7g

  envoy:
    image: envoyproxy/envoy:v1.33-latest
    network_mode: host
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 128m

  nginx:
    image: nginx:1.29.0-alpine
    network_mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ../packages/map-tiles/dist:/usr/share/nginx/html/tile:ro
      - ../packages/map-style/dist/sprites:/usr/share/nginx/html/sprites:ro
      - ../packages/map-fonts/dist:/usr/share/nginx/html/fonts:ro
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 128m

  nominatim:
    build:
      context: ../packages/nominatim
      dockerfile: Dockerfile
    ports:
      - 9099:8080
    environment:
      PBF_URL: https://download.geofabrik.de/europe/united-kingdom/england/greater-london-latest.osm.pbf
    volumes:
      - nominatim_data:/var/lib/postgresql
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 4g

volumes:
  nominatim_data:
