// app global css in SCSS form
@import "maplibre-gl/dist/maplibre-gl.css";

@import "@fontsource-variable/noto-sans-display/index.css";

.vh-100 {
  height: 100vh;
}

.font {
  &-noto-sans {
    &-display {
      font-family: "Noto Sans Display Variable", sans-serif;
      font-weight: 400;
    }
  }

  &-light {
    font-weight: 300;
  }

  &-bold {
    font-weight: 700;
  }
}

.text {
  &-outline {
    &-white {
      text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
    }
  }
}

/**
  * Vue transition - fade
  */
.fade-up {
  &-enter-active,
  &-leave-active {
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(20px);
  }
}

/**
  * Vue transition - fade
  */
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

/**
  * Vue transition - poi
  */
.poi {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s linear;
    transform-origin: center;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
