// app global css in SCSS form
@import "maplibre-gl/dist/maplibre-gl.css";

@import "@fontsource-variable/noto-sans-display/index.css";

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.fixed {
  position: fixed;
}

body {
  font-family: "Noto Sans Display Variable", sans-serif;
}

/**
  * Vue transition - fade
  */
.fade-up {
  &-enter-active,
  &-leave-active {
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/**
  * Vue transition - fade
  */
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

/**
  * Vue transition - poi
  */
.poi {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s linear;
    transform-origin: center;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
